.list {
	position: absolute;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	width: 100%;
	border-radius: 4px;
	background-color: white;
	right: 0;
	margin-top: 1.25rem;
}

.item {
	cursor: pointer;
	display: grid;
	grid-template-columns: 60% 40%;
	padding: 10px;
	border: 1px solid transparent;
	min-height: 20px;
}

.active {
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
}

.ready {
	border: 1px solid #74cf6e;
}

.item-name {
	display: inline-block;
	margin-left: 5px;
}

.prompt {
	display: inline-block;
	margin-left: 5px;
	animation-name: slideInLeft;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
}

@keyframes slideInLeft {
	from {
		transform: translate3d(-10%, 0, 0);
		display: none;
	}

	to {
		transform: translate3d(0, 0, 0);
		display: inline-block;
	}
}

.amount-input {
	display: inline-block;
	width: 40px;
	outline: none;
	text-align: right;
	border: none;
	font-size: 0.8em;
}
