{
    "presets": ["react"],
    "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread",
        "react-hot-loader/babel"
    ],
    "env": {
        "test": {
            "presets": ["env"],
            "plugins": ["transform-class-properties"]
        }
    }
}
