@import "../../style/variables";

.top {
	display: grid;
	grid-template-columns: 79% 19%;
	grid-gap: 2%;
	align-items: start;
}

.close {
	position: absolute;
	top: 0;
	right: -1.75rem;
	cursor: pointer;
	fill: grey;

	&:hover {
		fill: black;
	}
}

.submit {
	position: absolute;
	right: -3.5rem;
	bottom: 0.5rem;
}

.section {
	margin-top: 1rem;
}

.stats {
	margin: 1rem;
}

.list {
	margin: 0.25rem 0 0.5rem 0;
}

.list-item {
	display: grid;
	grid-template-columns: 23% 58% 13%;
	column-gap: 3%;
	padding: 0.4rem 0;
	align-items: center;
	margin-bottom: 0.125rem;
	background-color: white;
	border-radius: 3px;
	transition: $transition-in;

	&:hover,
	&.dragging {
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
		transition: $transition-out;
	}

	&:hover > .remove-ingredient {
		transition: $transition-in;
		opacity: 1;
	}

	&.dragging {
		background-color: #f3ecff;
	}
}

.amount {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}

.input-amount {
	@include input-border;
	border: 1px solid transparent;
	background-color: transparent;
	padding: 0.15rem;
	color: inherit;
	width: 2.75rem;
	font-size: 0.9rem;
	text-align: right;

	&:hover:not(:focus) {
		border: $input-border;
	}
}

.remove-ingredient {
	cursor: pointer;
	margin: auto;
	fill: #737373;
	opacity: 0;

	&:hover {
		fill: black;
	}
}