 @import "../../../style/variables";

.top {
	display: grid;
	grid-template-columns: 80% 20%;
	grid-column-gap: 0.25rem;	
}

.close {
	position: absolute;
	top: 0;
	right: -1.75rem;
	cursor: pointer;
	fill: grey;

	&:hover {
		fill: black;
	}
}

.section {
	margin-top: 1rem;
}

.list {
	margin: 0.25rem 0 0.5rem 0;
}

.list-item {
	display: grid;
	grid-template-columns: 20% 80%;
	column-gap: 0.5rem;
	align-items: center;
	padding: 0.4rem;
	margin-bottom: 0.125rem;
	background-color: white;
	border-radius: 3px;
	transition: $transition-in;

	&:hover, &.dragging {
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
		transition: $transition-out; 
	}

	&.dragging {
		background-color: #f3ecff;
	}
}

.amount {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}

.input-amount {
	@include input-border;
	border:1px solid transparent;
	background-color: transparent;
	padding: 0.15rem;
	width: 2.75rem;
	font-size: 0.9rem;
	text-align: right;
	
	&:hover:not(:focus) {
		border: $input-border;
	}
}
