@import "variables";

img,
embed,
object,
video {
	max-width: 100%;
}

nav,
a,
button {
	min-width: 48px;
	min-height: 48px;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	font-family: proxima-nova, system-ui;
	padding: 0px;
	margin: 0px;
	color: #333333;
	height: 100%;
	background-color: #fafafa;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: #0366d6;
}

.search-box {
	padding: 0.5rem;
	width: 100%;
	font-size: 1rem;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
}

.search-box:focus {
	outline: none;
	border-color: $main-color;
	//color:#45b0e6 !important;
	box-shadow: 0 0 5px rgba(69, 176, 230, 0.15) !important;
}

.list {
	position: absolute;
	padding: 0px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	width: 100%;
	border-radius: 4px;
	display: block;
	background-color: white;
	right: 0;
}

.item {
	cursor: pointer;
	display: grid;
	grid-template-columns: 60% 40%;
	padding: 10px;
	/*border: 1px solid #7E7E7E;*/
	border: 1px solid transparent;
	min-height: 20px;
}

.active {
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
}

.ready {
	border: 1px solid #74cf6e;
}

.prompt {
	display: inline-block;
	margin-left: 5px;
	animation-name: slideInLeft;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
}

@keyframes slideInLeft {
	from {
		transform: translate3d(-10%, 0, 0);
		display: none;
	}

	to {
		transform: translate3d(0, 0, 0);
		display: inline-block;
	}
}

.amount-input {
	display: inline-block;
	width: 40px;
	outline: none;
	text-align: right;
	border: none;
	font-size: 0.8em;
}

.ingredient-name {
	display: inline-block;
	margin-left: 5px;
}
