@import "variables";

img,
embed,
object,
video {
	max-width: 100%;
}

nav,
a,
button {
	min-width: 48px;
	min-height: 48px;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	font-family: proxima-nova, system-ui;
	padding: 0px;
	margin: 0px;
	color: #333333;
	height: 100%;
	background-color: #fafafa;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: #0366d6;
}
